RewriteEngine on

DirectoryIndex index.html


RewriteBase /
RewriteCond %{HTTP_HOST} ^www.kvalia.band [NC]
RewriteRule ^(.*)$ http://kvalia.band/$1 [L,R=301]

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://kvalia.band/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 401 http://kvalia.band/error.html
ErrorDocument 403 http://kvalia.band/error.html
ErrorDocument 404 http://kvalia.band/error.html
ErrorDocument 500 http://kvalia.band/error.html

Options -Indexes

<FilesMatch ".(svg)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>