:root {
  --grey-20: #D8D8D8;
  --grey-10: #EAEAEA;
  --grey-5: #F7F7F7;
}

::selection {
  color: white;
  background-color: chartreuse;
}

.preloader {
  position: fixed;
  overflow: hidden;
  background: white;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1001;
}

.loaded {
  overflow: scroll;
}

.loaded .preloader {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  overflow: hidden;

  background: url(img/kvalia-band-2022-by-konstantin-krapivin.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

main {
  margin: 0 !important;
}

article {
  margin: 8vw !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

article.pages, article.sharepages  {
  margin: 16vw 2vw !important;
  background-color: white;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section {
  text-align: center;
  width: 100%;
}

button {
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border-style: none;
  border-width: 0 0 0 0;
  padding: 0;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

dialog {
  padding: 0 !important;
  width: 100%;
  overflow: auto;
  border-style: none;
  scroll-behavior: smooth;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

object {
  position: relative;
  margin: 0 !important;
  width: 100%;
  height: 85vh;
  scroll-behavior: smooth;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 2vw;
  margin-bottom: 12vw;
}

h1 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: left;
  text-decoration: none;
  color: black;
}

h2 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: none;
  color: black;
}

h3 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: none;
  color: black;
}

a {
  text-decoration: none;
}

ol,
ul,
li,
p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.lang-ru {
  display: none;
}

.modalhead {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  padding: 12px;
  border-radius: 16px 16px 0 0;
  color: white;
}

.modalvideohead {
  position: sticky;
  top: 0; margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  padding: 0;
  border-radius: 0;
}

.audiomodal dialog:modal {
  padding: 0 !important;
  margin-bottom: 0;
  max-width: 568px;
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  background-color: white;
}

.sharemodal dialog:modal {
  padding: 0 !important;
  margin-bottom: 0;
  max-width: 568px;
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  background-color: white;
}

.sharemodal nav {
  padding: 12px;
}

.videomodal dialog:modal {
  padding: 0 !important;
  max-width: 100vw;
  height: 74vw;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  background-color: transparent;
}

.videomodal dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.72);
}

.sharemodal dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.32);
}

.modalfoot {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 32px 0 32px;
  border-top: 0.75px solid var(--grey-20);
}

.copylink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 0 24px;
}

.infobutton {
  width: 82%;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--grey-20);
  border-radius: 12vw;
  padding: 12px;
}

.copybutton {
    width: 94%;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--grey-10);
    border-radius: 12px;
    padding: 12px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 12px;
      align-items: center;
      align-content: center;


      -webkit-transition: 0.5s;
      transition: 0.5s;
}

.copybutton:hover {
  background-color: var(--grey-5);
  border-color: var(--grey-5);
}

.copybutton:focus, .copybutton:active {
  background-color: white;
  border-color: limegreen;
}


.moreinfo {
  display: none;
}

.audioembed, .coverembed {
  border-radius: 16px;
  width: 88vw;
  background-color: var(--grey-10);
}

.videoembed {
  width: 100%;
  border-radius: 0;
  background-color: black;
}


.openpageButton {
  cursor: pointer;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3vw;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}

.openpageButton .icon {
  opacity: 100;
}

.openlinkButton {
  cursor: pointer;
  width: auto;
  background-color: white;
  border: 1px solid var(--grey-20);
  border-radius: 8px;
  padding: 4px;

  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.sharepageButton {
  cursor: pointer;
  width: auto;
  background-color: white;
  border-radius: 8px;
  padding: 4px;

  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.sharepageButton .icon {
  padding: 8px 4px 8px 4px;
}

.openlinkButton:hover, .sharepageButton:hover, .infobutton:hover {
  background-color: var(--grey-5);
}

@keyframes btn-hover {
  0%   {scale: 1;}
  25%  {scale: 0.98;}
  55%  {scale: 1.01}
  65%  {scale: 1;}
  100% {scale: 1;}
}

.mainButton:hover {
  animation-name: btn-hover;
  animation-duration: 0.5s;
}

.mainButton:active {
  scale: 0.98;
}

.empty {
  height: 12vw;
  max-height: 96px;
  background-color: transparent;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 12px;
}

.icon {
  line-height: 0;
  padding: 2vw;
  border-radius: 50%;
  background-color: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-color: transparent;
}

.icon:hover {
  background-color: var(--grey-5);
}

.modalhead .icon {
  padding: 8px;
}

.modalhead .icon:hover {
  border-radius: 8px;
  background-color: var(--grey-5);
}

.modalvideohead .icon {
  padding: 16px;
  border-style: solid;
  border-width: 1.5px;
  border-color: transparent;
}
.modalvideohead .icon:hover {
  background-color: rgba(0, 0, 0, 0.72);;
}

header .icon:hover {
  background-color: transparent;
  border-color: white;
}
header h1 {
  color: white;
  line-height: 8vw;
}

.preview {
  width: 12vw;
  max-width: 96px;
  border-radius: 4px;
}

.stream {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.streamsvg {
  padding: 2vw;
  width: 6vw;
  max-width: 48px;
}

.sharesvg {
  padding: 8px;
  width: 5vw;
  max-width: 24px;
}

@media screen and (min-width: 568px) {

.audiomodal dialog:modal {
  max-height: 72vh;
  max-width: 420px;
  margin-bottom: auto;
  border-radius: 16px;
}

.sharemodal dialog:modal {
  max-height: 68vh;
  max-width: 380px;
  margin-bottom: auto;
  border-radius: 16px;
}

.videoembed {
  border-radius: 16px;
}

.videomodal dialog:modal {
  max-width: 92vw;
  min-height: 320px;
  max-height: 55vh;
}


}

@media screen and (min-width: 960px) {

article {
  margin: 8vw 24vw !important;
}

.openpageButton .icon {
  opacity: 0;
}
.openpageButton:hover .icon {
  opacity: 100;
}

.audiomodal dialog:modal {
  max-height: 84vh;
}

.videomodal dialog:modal {
  max-width: 62vw;
}

}


@media screen and (max-height: 482px) {

  .audioembed {
    height: 80px;
  }
}
