@font-face {
  font-family: "title-regular";
  src: url("fonts/HelveticaNeue-01.woff2") format("woff2"),
       url("fonts/HelveticaNeue-01.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "title-bold";
  src: url("fonts/HelveticaNeue-12.woff2") format("woff2"),
       url("fonts/HelveticaNeue-12.woff") format("woff");
  font-weight: normal;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

.preloader {
  position: fixed;
  overflow: hidden;
  background: var(--white);
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1001;
  position: absolute;
  overflow: hidden;
}

.loaded {
  overflow: scroll;
}

.loaded .preloader,
.tophead {
  display: none;
}

html {
  scroll-behavior: smooth;
  background: var(--white);
}

body {
  font-family: Arial;
  font-weight: normal;
  overflow: hidden;
  margin: 11.538vw 0 0 0 !important;
  background: var(--white);
  text-decoration: none;
}

main {
  padding-left: 11.538vw;
}

footer {
  margin-top: 12.9vw;
  margin-bottom: 8.8vw;
  display: grid;
  grid-template-columns: 8.8vw 8.8vw 8.8vw;
  grid-template-rows: 8.8vw;
  column-gap: 5.32vw;
  user-select: none;
}

.kvalia {
  position: absolute;
  text-align: center;
  align-items: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.kvalia-cover {
  margin-bottom: 2.36vw;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5.32vw;
}

.links {
  display: flex;
  flex-direction: row;
  flex-basis: auto; 
  flex-wrap: wrap;
  width: 100%;
  gap: 17px;
  user-select: none;

}

a {
  text-decoration: none;
}

h1,
h2 {
  margin-block-start: 0 !important;
  margin-block-end: 7.7vw !important;
  font-family: "title-regular";
  font-weight: normal;
  font-size: 17px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black);
}

h3 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-family: "title-bold";
  font-weight: normal;
  font-size: 14px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: none;
  color: var(--black);
}

ol,
ul,
p {
  font-size: 14px;
  line-height: 4vw;
  letter-spacing: 0.02em;
  margin-block-start: 0 !important;
  padding-inline-start: 0 !important;
  margin-block-end: 7.7vw !important;
  list-style-type: none;
  color: var(--black);
}

time {
  line-height: 4vw;
  letter-spacing: 0.03em;
  text-transform: lowercase;
}

strong {
  font-family: "title-bold";
  letter-spacing: 0.05em;
  font-weight: normal;
}

::selection {
  color: var(--white);
  background-color: #ff3b27;
}
