@font-face {
  font-family: "regular";
  src: url("fonts/eng-strong-font-webfont.woff2") format("woff2"),
    url("fonts/eng-strong-font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "italic";
  src: url("fonts/rus-em-font-webfont.woff2") format("woff2"),
    url("fonts/rus-em-font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.preloader {
    position: fixed;
    overflow: hidden;
    background: #ffffff;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
}

.kvalia {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 32;
  top: 6.2vw;
  position: fixed;
  transition: 0.3s;
  user-select: none;
}

body {
  overflow: hidden;
  margin: 32vw 0 0 0 !important;
  font-family: "regular", "Arial", sans-serif;
  background: #ffffff;
  text-decoration: none;
}

footer {
  margin-top: 12.9vw;
  margin-bottom: 8.8vw;
  display: grid;
  grid-template-columns: 8.8vw 8.8vw 8.8vw;
  grid-template-rows: 8.8vw;
  column-gap: 5.32vw;
  user-select: none;
}

.tophead {
  justify-content: center;
  width: 100%;
  z-index: 27;
  top: 3.72vw;
  position: fixed;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  user-select: none;
}

.loaded {
  overflow: scroll;
}

.loaded .preloader,
.tophead {
  display: none;
}

.kvalia-cover {
  margin-bottom: 5.32vw;
  width: 100%;
}

.release,
.topic {
  padding: 0 6.4vw;
  margin-bottom: 12.9vw;
}

.page {
  margin-bottom: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5.32vw;
}

.stream-container {
  max-width: 100vw;
  overflow-x: scroll;
}

.stream {
  padding: 8.54vw 0 0 6.4vw;
  margin-bottom: 12.9vw;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stream li {
  list-style: none;
  margin-right: 4.27vw;
}

.pad { 
    width: 2.13vw; /* Отбивка последней кнопки от края */
}

.single { /* Одиночная кнопка стриминга */
  padding: 8.54vw 6.4vw 0;
  justify-content: center;
  width: auto;
}

body::-webkit-scrollbar,
.stream-container::-webkit-scrollbar {
  display: none;
}

body,
.stream-container {
  transition: 0.3s;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  box-shadow: 0 0 4.27vw rgb(0 0 0 / 0.07);
  user-select: none;
  padding: 4.27vw;
  border-radius: 4.27vw;
  background-color: #ffffff;

  font-family: "regular";
  font-size: 3.72vw;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button:active {
  background-color: #f2f2f2;
  box-shadow: none;
}

.icon {
  -webkit-transition: 0.2s;
        transition: 0.2s;
}

@media screen and (min-width: 1032px) {
    body{
    margin: 18vw 0 0 0 !important;
    }
    .kvalia {
    transform: scale(0.7);
    transform-origin: top center;
    right:0; left: 0;
    }

    header {
      display: none;
    }
    .tophead {
      display: flex;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
    .preloader svg {
    width: 256px;
    height: 256px;
    }
    .page {
        margin-bottom: 3.72vw;
    }
    .button {
        margin: 0 0 5.32vw;
        box-shadow: 0 0 3.72vw rgb(0 0 0 / 0.07);
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .button:hover {
    transform: scale(0.92);
    transform-origin: center center;
    border-radius: 4.32vw;
    box-shadow: 0 0 2.13vw rgb(0 0 0 / 0.1);
    }
    .icon:hover{
      transform: scale(1.07);
      transform-origin: center center;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
    .link:hover{
      opacity: 0.95;
    }
    .tophead:hover{
      transform: scale(1.02);
      transform-origin: center center;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
    .stream-container {
        max-width: 100%;
    }
    .stream {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 8.54vw 0 0 0;
        width: auto;
    }
    .stream li {
        margin-right: 0;
    }
    .pad {
        display: none;
    }
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: "regular";
  font-size: 0.32px;
  line-height: 32%;
  text-align: center;
  color: rgba(255, 255, 255, 0);
}

h2,
h3,
ul,
p {
  font-size: 100%;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

strong {
  /* Eng */
  font-family: "regular";
  font-style: normal;
  font-weight: normal;
  font-size: 4.78vw;
  line-height: 7.2vw;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

em {
  /* Rus */
  font-family: "italic";
  font-style: normal;
  font-weight: normal;
  font-size: 4.67vw;
  line-height: 7.2vw;
  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #404040;
}

::selection {
  color: #ffffff;
  background-color: #ff3b27;
}