:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #EAEAEA;
}

::selection {
  color: var(--black);
  background-color: #97FA8C;
}

.preloader {
  position: fixed;
  overflow: hidden;
  background: white;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1001;
}

.loaded {
  overflow: scroll;
}

.loaded .preloader {
  display: none;
}

html {
  scroll-behavior: smooth;
  background: url(media/_kvalia-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  margin: 0 !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

main {
  margin: 4vw !important;
}

article {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section {
  margin-bottom: 12vw;
  text-align: center;
  width: 100%;
}

object {
  width: 100%;
  height: 82%;
  min-height: 20vh;
  max-height: 77vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 4vw 4vw 0 0;
  background-color: white;
}

dialog {
  padding: 0 !important;
  width: 100%;
  background-color: white;
  overflow: auto;
  border-style: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  color: transparent;
  background-color: transparent;
  border-style: none;
  padding: 2vw !important;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 2vw;
  margin-bottom: 12vw;
}

h1 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-size: 5vw;
  line-height: 4vw;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: left;
  text-decoration: none;
  color: var(--black);
}

h2, h3 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-weight: 400;
  font-size: 4vw;
  line-height: 5vw;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: none;
  color: var(--black);
}

ol,
ul,
li, 
p {
  text-align: center;
  font-size: 3.5vw;
  line-height: 5vw;
  font-weight: 400;
  margin-block-start: 0 !important;
  text-decoration: none;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
  list-style-type: none;
  color: var(--black);
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  margin-bottom: 6vw;
  justify-content: space-between;
}

.navigation .icon {
  padding: 2vw;
  width: 5vw;
  border-radius: 50%;
  background-color: white;
}

.navigation .icon-modal {
  padding: 2vw;
  margin: 2vw;
  width: 6vw;
  border-radius: 25%;
}

.sticky {
  margin-bottom: 3vw;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.avatar {
  cursor: help;
  width: 27vw;
  border-radius: 100%;
  margin-bottom: 2vw;
}

.linktree {
  max-width: 100%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.button { 
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vw;
  align-items: center;
  align-content: center;
  border-radius: 2vw;
  padding: 2vw;
  margin: 0 1vw;

  user-select: none;
  background: white;

  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button, .navigation p {
  line-height: 0;
}

.button img {
  width: 12vw;
  border-radius: 1.5vw;
}

.button .icon {
  opacity: 0;
  padding: 3.5vw;
  width: 5vw;
  border-radius: 50%;
}

@keyframes btn-hover {
  0%   {scale: 1;}
  15%  {scale: 0.98;}
  35%  {scale: 1.02}
  60%  {scale: 1;}
  100% {scale: 1;}
}

.button:hover {
  margin: 0;
  animation-name: btn-hover;
  animation-duration: 0.5s;
}

.button:hover .icon {
  opacity: 100;
}

.icon:hover, .icon-modal:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}

.button:active {
  scale: 0.98;
}

.listento {
  margin: 0 6% 0;
  gap: 3vw;
}

.listento a {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: left;
  width: auto;
}

.listento p {
  line-height: 5vw;
}

.listento .icon {
  opacity: 0.8;
  padding: 1vw;
  width: 6vw;
  border-radius: 0%;
}

.listento img {
  width: 8vw;
  border-radius: 0;
}

.listento .button {
  margin: 0;
  border: 1px solid #d8d8d8;
}

.listento .button:hover {
  cursor: pointer;
  background-color: #F7F7F7;
  border-color: #d8d8d8;
  animation-name: none;
}

.listento .icon:hover {
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 8vw 0 8vw;
  border-top: 1px solid #d8d8d8;
  position: fixed;
  bottom: 0px;
}

.bottom .button {
  width: 78%;
  justify-content: center;
  margin: 0;
  padding: 4vw;
  border-radius: 8vw;
  border: 1px solid #d8d8d8;
}

.bottom .button:hover {
  cursor: pointer;
  background-color: #F7F7F7;
  border-color: #d8d8d8;
  animation-name: none;
}

footer .icon {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 10vw;
}

footer .icon:hover {
  cursor: pointer;
  background-color: transparent;
  scale: 1.1;
}

a {
  text-decoration: none;
  color: var(--black);
}

@media screen and (min-width: 960px) {

.icon {
  opacity: 1;
}
}
